{% extends '::base.html.twig' %}

{% block login %}
    <form name="login">
        <div class="form-field">
            <label for="input-username">{{ labelUsername }}</label>
            <input title="{{ labelUsername }}" type="text" name="username" id="input-username">
        </div>
        <div class="form-field">
            <label for="input-password">{{ labelPassword }}</label>
            <input title="{{ labelPassword }}" type="password" name="password" id="input-password">
        </div>
        <input type="submit" name="login" id="button-login" value="{{ labelLoginButton }}">
    </form>
{% endblock %}
