{% extends 'EconemonBootsyApplicationBundle:Main:html5-default.html.twig' %}
{% block stylesheets %}
    <link href="{{ asset('css/reset.css') }}" rel="stylesheet" type="text/css" />
    <link href="{{ asset('css/layout.css') }}" rel="stylesheet" type="text/css" />
    <link href="{{ asset('css/looknfeel.css') }}" rel="stylesheet" type="text/css" />
{% endblock %}
{% block body %}
    {% block session %}
        <div id="session-status">{% spaceless %}
        {% if view.session is defined %}
            {{ render(controller('EconemonBootsySecurityBundle:Session:status')) }}
        {% else %}
            <a href="{{ path('fos_user_security_login') }}">Login</a>
        {% endif %}
        </div>{% endspaceless %}
    {% endblock %}
    {% block logo %}
        <div id="logo">
            {% if view.logo is defined %}
                {% if view.logo.image is defined %}
                    <img src="{{ asset(view.logo.image.src) }}" class="logo">
                {% endif %}
                {% if view.logo.headline is defined %}
                    <h1>{{ view.logo.headline }}</h1>
                {% endif %}
            {% endif %}
        </div>
    {% endblock %}
    <div id="frame">{% block frame %}
            {% block navigation %}
                {% if view.menu is defined and view.menu %}
                    {{ include('EconemonBootsyApplicationBundle:Main:menu.html.twig', { 'menu': view.menu }) }}
                {% endif %}
            {% endblock %}
            <div id="content">
                {% block content %}
                {% endblock %}
            </div>
        {% endblock %}</div>
    <div id="footer">
        {% block footer %}{% endblock %}
    </div>
{% endblock %}
{% block javascripts %}
{% endblock %}
