{% extends '::base.html.twig' %}

{%  block dialog %}
    <h2>Database status: {{ dbStatus }}</h2>
    <p class="{{ messageType }}">{{ message }}</p>
    {%  if parameters is defined %}
        <h3>Parameters used:</h3>
        <dl>
            {%  for name, value in parameters.view %}
                <dt>{{ name }}</dt><dd>{{ value|default('n/a') }}</dd>
            {% endfor %}
        </dl>
    {%  else  %}
        <p>The parameters that were used could not be determined.</p>
    {%  endif %}
    {%  if config is defined %}
        <h3>Configuration in file &lt;kernel root dir&gt;/{{ config.file }}:</h3>
        {% if config.form is defined %}
        <form action="{{ path('db_configure') }}" method="post" {{  form_enctype(config.form) }}>
            {{ form_widget(config.form) }}
            <input type="submit" value="Save" />
        </form>
        {% else %}
        <dl>
            {%  for name, value in config.parameters.view %}
                <dt>{{ name }}</dt><dd>{{ value|default('n/a') }}</dd>
            {% endfor %}
        </dl>
        {% endif %}
    {%  else  %}
        <p>No configuration info is available</p>
    {%  endif %}
{% endblock %}