{% extends "FOSUserBundle::layout.html.twig" %}
{% trans_default_domain 'bootsy_user' %}
{% form_theme form_profile 'EconemonBootsyApplicationBundle:Form:theme_default.html.twig' %}
{% form_theme form_password 'EconemonBootsyApplicationBundle:Form:theme_default.html.twig' %}

{% block fos_user_content %}
<h2>{{ 'layout.profile.headline'|trans({ '%full_name%': app.user.name }) }}</h2> {# (this assumes an instance of Econemon\Bootsy\UserBundle\Entity\User #}
<form action="{{ path('econemon_bootsy_user_profile_edit') }}" {{ form_enctype(form_profile) }} method="POST">
    <div class="form-errors">{{ form_errors(form_profile) }}</div>
    {{ form_row(form_profile.username) }}
    {{ form_row(form_profile.name) }}
    {{ form_row(form_profile.phone) }}
    <div>
        <input type="submit" name="submit-save" value="{{ 'layout.profile.save'|trans }}" />
    </div>
    <fieldset>
        <legend>{{ 'layout.profile.section.email'|trans }}</legend>
        <dl>
            <dt>{{ 'form.user.current_email'|trans }}</dt>
            <dd>{{ app.user.email }}</dd>
        </dl>
        {{ form_row(form_profile.newEmail, { 'row_class': 'form_row_top_label' }) }}
        <div>
            <input type="submit" name="submit-email" value="{{ 'form.user.submit.newEmail'|trans }}" />
        </div>
    </fieldset>
    {{ form_rest(form_profile) }}
</form>
<form action="{{ path('fos_user_change_password') }}" {{ form_enctype(form_password) }} method="POST">
    <div class="form-errors">{{ form_errors(form_password) }}</div>
    <fieldset>
        <legend>{{ 'layout.profile.section.password'|trans }}</legend>
        {{ form_row(form_password.current_password, { 'row_class': 'form_row_top_label' }) }}
        {{ form_row(form_password.plainPassword, { 'row_class': 'form_row_top_label' }) }}
        <div>
            <input type="submit" name="submit-password" value="{{ 'change_password.submit'|trans({}, 'FOSUserBundle') }}" />
        </div>
    </fieldset>
    {{ form_rest(form_password) }}
</form>
{% endblock fos_user_content %}
