{% extends 'EconemonBootsyApplicationBundle:Main:main.html.twig' %}

{% block heading %}Database versions:{% endblock heading %}
{% block content %}
    {%  if versions is defined and versions %}
        <form action="{{ path('db_run_updates') }}">
            <table id="versions">
                <thead>
                    <tr><th></th><th>File</th><th>Version</th><th>Date</th><th>Installed Version</th><th>Installed Date</th><th>Status</th></tr>
                </thead>
                <tbody>
                {%  for ix, version in versions %}
                    {% spaceless %}
                    <tr class="{{ version.status }}">
                        <td><input name="selection[{{ ix }}]" type="checkbox" value="{{ version.file }}" {% if version.preselect %}checked="checked" {% endif %}/></td>
                        <td>{{ version.file }}</td>
                        <td>{{ version.currentVersion }}</td>
                        <td>{{ version.lastChanged|date('Y-m-d H:i:s') }}</td>
                        <td>{{ version.lastVersionRun|default('none') }}</td>
                        <td>{{ version.lastTimeRun is empty ? 'n/a' : version.lastTimeRun|date('Y-m-d H:i:s') }}</td>
                        <td>{{ version.status }}</td>
                    </tr>
                    {% endspaceless %}
                {%  endfor %}
                </tbody>
            </table>
            <input type="submit" value="Run selected updates" />
        </form>
    {%  else  %}
        <p>No version info is available. There probably are no version scripts yet.</p>
    {%  endif %}
{% endblock %}